[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Elleonors/NewsletterYvesRocher
Type=Link
URL=https://github.com/Elleonors/NewsletterYvesRocher
Icon=text-html
